<p><%= notice %></p>

<h1>Listing Vehicles</h1>
<table>
  <thead>
    <tr>
      <th>|Manufacturer|</th>
      <th>--Model--|</th>
      <th>--Color--|</th>
      <th>--Fuel-|</th>
      <th>Transmission|</th>
      <th>--Price--|</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <td><%= vehicle.manofature %></td>
      
        <td class="model"><%= vehicle.model %></td>
        <td><%= vehicle.color %></td>
        <td><%= vehicle.fuel %></td>
        <td><%= vehicle.transmission %></td>
        <td><%= vehicle.price %></td>
        
       
      </tr>
    

  </tbody>
</table>
</br>   </br>   </br>