<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Manofature:</strong>
    <%= vehicle.manofature %>
  </p>

  <p>
    <strong>Fuel:</strong>
    <%= vehicle.fuel %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Transmission:</strong>
    <%= vehicle.transmission %>
  </p>

</div>
