<div id="<%= dom_id vehicle %>">

<h1>lista de veiculos</h1>
<div id="table">
<th> <strong>nome:</strong> </th>
<th> <strong>Modelo:</strong> </th>
<th> <strong>Marca:</strong> </th>
<th> <strong>cor:</strong> </th>
<th> <strong>transmissao:</strong> </th>
<th> <strong>combustível:</strong> </th>
<th> <strong>preco:</strong> </th>

<td>
<%= vehicle.name %>
<button onclick=""> editar nome </button>
</td>

  <td>
    <%= vehicle.model %>
    <button onclick=""> editar </button>
  </td>

  <td>
  <%= vehicle.manofature %>
  <button onclick=""> editar </button>
</td>

<td>
<%= vehicle.color %>
<button onclick=""> editar </button>
</td>

<td>
  <%= vehicle.transmission %>
  <button onclick=""> editar </button>
</td>

  <td>
    <%= vehicle.fuel %>

    <button onclick=""> editar </button>
  </td>

  <td>
    <%= vehicle.price %>

    <button onclick=""> alterar preco </button>
  </td>

</div>

</div>
